.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navigationBar {
  height: 50px;
}

@media screen and (max-width: 992px) {
 .navigationBar {
   height: 150px;
 }
}
